
.chat-status-message.default-icon {
  background-image: url(../images/exclamation-circle.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 27px;
  padding-top: 3px;
}
