
.ask-vopros-tab {
  background-color: #01c676;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
  height: 35px;

  position: fixed;
  bottom: 0;
  right: 25%;
  /*
   * Leave room for the standard Ding cookie control widget.
   */
  margin-left: 62px;
}

.ask-vopros-tab.minimized {
  right: 0;
  border-top-right-radius: 0;
}

.ask-vopros-tab.minimized .ask-vopros-text,
.ask-vopros-tab.minimized .ask-vopros-minimize {
  display: none;
}

.ask-vopros-tab .ask-vopros-icon img {
  height: 26px;
  padding: 5px 8px 0;
  vertical-align: top;
}

.ask-vopros-tab a:link,
.ask-vopros-tab a:hover,
.ask-vopros-tab a:visited,
.ask-vopros-tab a:active,
.ask-vopros-tab a:active {
  outline: none;
  line-height: 35px;
  color: white;
  padding-right: 6px;
  text-decoration: none;
}

.ask-vopros-tab .ask-vopros-minimize {
  background-color: #01a863;
  display: block;
  float: right;
  height: 100%;
  padding: 0 8px;
}

.ask-vopros-tab .ask-vopros-minimize .fa {
  font-size: 1.2em;
  line-height: 35px;
}
