#footer-wrapper {
  padding-bottom: 85px;
}

/* CKeditor changer. */
.text-format-wrapper {
  margin-bottom: 1em;
}
.text-format-wrapper .filter-wrapper {
  display: none;
}

/* CKeditor minimum height. */
.cke_reset {
  min-height: 300px;
}
